:root {
    --bg-color-main: #151419;
    --bg-section-color: #1B1B1E;
    --scrollbar-bg: #262626;
    --snow-text:#FBFBFB;
    --accent-color: #F56E0F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color-main);
}

/* HEADER */

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
}

.logo a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;

    @media (width < 1080px){
        font-size: 1.5rem;
    }

    @media (width <680px){
        font-size: 1rem;
    }
}

.navigation {
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--snow-text);

    @media (width < 1080px){
        font-size: 1rem;
    }

    @media (width <680px){
        font-size: 0.8rem;
    }
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;

    @media (width <680px){
        gap: 8px;
    }
}

.navigation input {
    color: var(--snow-text);
    height: 1.5rem;
    width: 10rem;
    padding: 15px;
    font-size: 1.5rem;
    font-family: Times;
    font-weight: bold;
    margin-left: 10px;
    border-color: var(--snow-text);
    border-width: 3px;

    @media (width < 1080px){
        font-size: 0.8rem;
        height: 1rem;
        width: 4rem;
        padding: 10px;
    }
}

.ic--round-search {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FBFBFB' d='M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0s.41-1.08 0-1.49zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14'/%3E%3C/svg%3E");

    @media (width < 1080px){
        height: 10px;
        width: 16px;
    }
}

/* HERO */
.hero {
    display: flex;
    width: 100vw;
    /* overflow: hidden; */
    justify-content: space-between;
    background: #F56E0F;
    background: linear-gradient(250deg, rgba(245, 110, 15, 1) 0%, rgba(27, 27, 30, 1) 60%);
}

h1 {
    color: var(--snow-text);
    background: none;
    font-size: 4rem;
    align-self: center;
    justify-content: center;
    margin-left: 5rem;

    @media (width < 1080px){
        font-size: 3rem;
        margin-left: 3rem;
    }

    @media (width <680px){
        font-size: 2rem;
        margin-left: 3rem;
    }
}

.hero img {
    /* width: 50%; */
    background: none;
    /* object-fit: cover;
    overflow: hidden; */
    
    @media (width < 1080px){
        max-width: 50%;
        max-height: 50%;
    }

    @media (width <680px){
        object-fit: scale-down;
    }
}

/* TRENDING NOW */
.trending-now {
    padding-bottom: 20px;
    padding-inline: 20px;
    width: 100vw;
}

h2 {
    color: var(--snow-text);
    font-size: 3rem;
    margin: 20px;

    @media (width < 1080px){
        font-size: 2rem;
    }
}

.horizonatal-scroll {
    display: flex;
    overflow: auto;
}

.horizonatal-scroll::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: var(--scrollbar-bg); 
}

.horizonatal-scroll::-webkit-scrollbar-thumb{
    background: var(--accent-color);
    border-radius: 10px;
}

.horizonatal-scroll h3 {
    color: var(--snow-text);
    font-size: 2rem;
    text-wrap: wrap;
    text-align: center;

    @media (width < 1080px){
        font-size: 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.horizonatal-scroll img {
    height: 20rem;
    width: 15rem;
    object-fit: cover;

    @media (width < 1080px){
        height: 15rem;
        width: 10rem;
    }
}

/* GENRES */
.genres {
    padding: 20px;
    padding-inline: 20px;
    width: 100vw;
}

.genre-list {
    display: flex;
    overflow: auto;
    padding-bottom: 20px;
}

.genres .genre-name {
    margin: 10px;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    border-color: var(--snow-text);
    color: var(--snow-text);
    font-size: 1.5rem;
    font-weight: bold;

    @media (width < 1080px){
        font-size: 1rem;
        padding: 10px 15px;
    }
}

.genres .heading {
    margin: 10px;
    padding: 20px;
    border: 5px solid var(--accent-color);
    text-align: center;
    white-space: nowrap;
    color: var(--bg-color-main);
    background-color: var(--snow-text);
    font-size: 1.5rem;
    font-weight: bolder;

    @media (width < 1080px){
        font-size: 1rem;
        padding: 10px 15px;
    }
}

.genre-list::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: var(--scrollbar-bg); 
}

.genre-list::-webkit-scrollbar-thumb{
    background: var(--accent-color);
    border-radius: 10px;
}

/* WEEKLY UPDATES */
.weekly-updates {
    width: 100vw;
}

.responsive-grid {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

    @media (width < 1080px){
        /* display: flex; */
        display: grid;
        grid-template-columns: auto auto auto;
    }

    @media (width <900px){
        grid-template-columns: auto auto;
    }
}

.card-container {
    border: 8px solid var(--scrollbar-bg);
    border-radius: 20px;
    /* height: 15rem;
    width: 50rem; */
    display: flex;
    /* align-items: center; */
    color: var(--snow-text);
    margin-inline: 15px;
    margin-bottom: 20px;

    @media (width < 1080px){
        flex-direction: column;
        align-items: center;
        border: none;
        margin-inline: 20px;
  
        flex: 50%;
        padding: 10px;
    }

    @media (width <680px){
    }
}

.container-img img{
    height: 20rem;
    width: 13rem;
    object-fit: cover;

    @media (width < 1080px){
        height: 19rem;
        width: 14rem;
    }

    @media (width <680px){
        height: 17rem;
        width: 12rem;
    }
}

.container-content-heading h3 {
    font-size: 1.5rem;
    margin: 30px;
    text-align: left;

    @media (width < 1080px){
        font-size: 1rem;
        text-align: center;
    }

    @media (width <680px){
        margin: 15px 25px;
    }
}

.container-content-chapter ul {
    list-style: none;
}

.container-content-chapter a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.2rem;
    margin: 20px;

    @media (width < 1080px){
        font-size: 1rem;
        margin: 15px;
    }

    @media (width <680px){
        font-size: 0.8rem;
    }
}

.container-content-chapter .update-time {
    font-size: 1rem;
    margin: 0 30px;
    text-align: right;

    @media (width < 1080px){
        margin: 0 15px;
    }

    @media (width <680px){
        font-size: 0.8rem;
    }
}

.container-content-chapter li {
    border: 5px solid var(--scrollbar-bg);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    white-space: nowrap;

    @media (width < 1080px){
        margin: 10px;
    }
}

/* FOOTER */
footer p {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;

    @media (width <1080px){
        font-size: 1rem;
    }
}